.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 0;
    padding: 120px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}
.inMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;

}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    padding: 100px 0 0;
}
.text h2{
    color: #fff;
    font-size: 46px;
    font-weight: 550;
    line-height: 1.8;
    margin-bottom: 15px;
}
.link{
    display: flex;
    align-items: center;
    color: #666;
    font-size: 22px;
    font-weight: 550;
    line-height: 1.5;
}
.link span{
    font-size: 26px;
    margin-right: 8px;
}
.link a{
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
}
@media screen and (max-width: 576px) {
    .text{
        width: 100%;
    }
    .text h2{
        font-size: 26px;
    }
    .text a, p {
        font-size: 16px;
    }
} 