body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 250px 0px 60px 0px;
    background-size: cover;
    background-position: center;
}

.inMain{
    display: flex;
    flex-direction: column;
    max-width: 1170px;

    width: 85%;
    height: auto;
    margin: auto;
}

.text{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    /* justify-content: left;
    align-items: center; */
}

.inText{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

}

.inText p{
    color: #fff;
    font: 15px "Josefin Sans", sans-serif;
    margin: 0px 0px 18px;
}

.inText h2{
    color: #fff;
    font: 650 60px  'Play', sans-serif;;
    margin: 0px 0px 38px;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    position: relative;
    /* border: 2.5px solid #00BFE7; */
}
.btn a{
    color: #fff;
    font:  15px "Play", sans-serif;
    text-decoration: none;
    text-align: center;
    
}

.btn .btnin{
    position: absolute;
    top: -1px;
    left: -1.5px;
    width: 15%;
    height: 70%;
    border-top: 2.5px solid #00BFE7;
    border-left: 2.5px solid #00BFE7;
    transition: all 1s ease;
}

.btn .btn2{
    position: absolute;
    bottom: -2px;
    right: -1px;
    width: 15%;
    height: 70%;
    border-bottom: 2.5px solid #00BFE7;
    border-right: 2.5px solid #00BFE7;
    transition: all 1s ease;
}

.btn:hover div{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

@media screen and (max-width: 800px ) {
    .main{
        height: 45vh;
    }
    .inText p{
      font-size: 14px;
    }
    
    .inText h2{
        font-size: 22px;
    }
    .btn{
        width: 180px;
        height: 35px;
    }
    .btn a{
        font-size: 14px;
    }
}








